body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.yellow-color
{
    color: yellow;
}
.flexible-container{
    display: flex;
    padding-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 40px;
}
.half-width img{
    width: 80%;
    
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(red,yellow);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

 p{
    padding: 30px 10px;
}
.Dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
  
}
.experience-box-color{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    box-shadow: 10px 10px 40px gray;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
   
}

#web-dev{
    border-left: 7px solid;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("../../media/examples/lizard.png");
    border-image-slice: 1;
}
#baby-webdev{

    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
